kestra/weather_pipeline.yaml
id: weather-data-ingestion
namespace: dataengineering.zoomcamp

description: |
  Ingests weather data from data.gov.sg APIs for the period Jan 2021 to Feb 2026
  and loads it to BigQuery for visualization in Looker Studio.

labels:
  owner: data-engineering-zoomcamp
  project: sg-weather-2021-2026

inputs:
  - id: start_date
    type: STRING
    defaults: "2022-01-01"
    description: Start date for data ingestion (YYYY-MM-DD)
  - id: end_date
    type: STRING
    defaults: "2022-12-31"
    description: End date for data ingestion (YYYY-MM-DD)
  - id: project_id
    type: STRING
    defaults: "proud-outrider-483901-c3"
    description: GCP Project ID
  - id: dataset_id
    type: STRING
    defaults: "weather_data"
    description: BigQuery Dataset ID
  - id: bucket_name
    type: STRING
    defaults: "proud-outrider-483901-c3-weather-raw-kfru2uzo"
    description: GCS Bucket Name for raw data
  - id: api_key
    type: STRING
    description: data.gov.sg API Key

tasks:
  - id: generate_date_range
    type: io.kestra.plugin.scripts.python.Script
    # taskRunner:
    #   type: io.kestra.plugin.scripts.runner.docker.Docker
    #   containerImage: python:3.10-slim
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.10-slim          # was: containerImage
    beforeCommands:
      - pip install kestra              # <-- ADD THIS
    script: |
      import json
      from datetime import datetime, timedelta
      from kestra import Kestra

      start = datetime.strptime('{{ inputs.start_date }}', '%Y-%m-%d')
      end = datetime.strptime('{{ inputs.end_date }}', '%Y-%m-%d')

      dates = []
      current = start
      while current <= end:
          dates.append(current.strftime('%Y-%m-%d'))
          current += timedelta(days=1)

      print(f"Generated {len(dates)} dates")
      # converts the list to a JSON string like '["2025-01-01","2025-01-02"]' — this is important because ForEach.values needs a string it can parse into a list.
      Kestra.outputs({'dates': json.dumps(dates)})
      # Kestra.outputs({"dates": dates})         # ← No json.dumps, pass native list

  - id: parallel_ingestion
    type: io.kestra.plugin.core.flow.ForEach
    # Update the ForEach (remove invalid concurrencyLimit: 0 and fix output reference):
    # values: "{{ outputs.generate_date_range.dates }}"   # Try this first
    values: "{{ outputs.generate_date_range.vars.dates }}"  # Alternative if above fails
    concurrencyLimit: 0
    tasks:
      - id: fetch_and_load_single_date
        type: io.kestra.plugin.scripts.python.Script
        # taskRunner:
        #   type: io.kestra.plugin.scripts.runner.docker.Docker
        #   containerImage: python:3.10-slim
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          image: python:3.10-slim      # was: containerImage
          volumes:
            - /tmp:/tmp
        beforeCommands:
          - pip install kestra requests pandas google-cloud-bigquery google-cloud-storage pyarrow pandas-gbq pytz
        script: |
          import os
          import sys
          from datetime import datetime

          sys.path.insert(0, '/tmp')

          os.environ['GOOGLE_CLOUD_PROJECT'] = '{{ inputs.project_id }}'
          os.environ['BIGQUERY_DATASET_ID'] = '{{ inputs.dataset_id }}'
          os.environ['GCS_BUCKET_NAME'] = '{{ inputs.bucket_name }}'
          os.environ['DATA_GOV_SG_API_KEY'] = '{{ inputs.api_key }}'

          from api_client import WeatherAPIClient
          from loaders import DataLoader

          date_str = '{{ taskrun.value }}'
          date_obj = datetime.strptime(date_str, '%Y-%m-%d')

          print(f"Processing date: {date_str}")

          client = WeatherAPIClient()
          loader = DataLoader()

          all_data = client.fetch_all_data_for_date(date_obj)
          loader.load_weather_data(all_data, date_str)

          print(f"Successfully processed date: {date_str}")

  - id: create_unified_view
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{ inputs.project_id }}.{{ inputs.dataset_id }}.unified_weather` AS

      WITH temperature_data AS (
        SELECT
          timestamp AS reading_timestamp,
          station_id,
          temperature,
          NULL AS humidity,
          NULL AS rainfall,
          NULL AS wind_speed,
          'temperature' AS reading_type,
          ingest_timestamp
        FROM `{{ inputs.project_id }}.{{ inputs.dataset_id }}.raw_air_temperature`
      ),

      humidity_data AS (
        SELECT
          timestamp AS reading_timestamp,
          station_id,
          NULL AS temperature,
          humidity,
          NULL AS rainfall,
          NULL AS wind_speed,
          'humidity' AS reading_type,
          ingest_timestamp
        FROM `{{ inputs.project_id }}.{{ inputs.dataset_id }}.raw_relative_humidity`
      ),

      rainfall_data AS (
        SELECT
          timestamp AS reading_timestamp,
          station_id,
          NULL AS temperature,
          NULL AS humidity,
          rainfall,
          NULL AS wind_speed,
          'rainfall' AS reading_type,
          ingest_timestamp
        FROM `{{ inputs.project_id }}.{{ inputs.dataset_id }}.raw_rainfall`
      ),

      wind_speed_data AS (
        SELECT
          timestamp AS reading_timestamp,
          station_id,
          NULL AS temperature,
          NULL AS humidity,
          NULL AS rainfall,
          speed AS wind_speed,
          'wind_speed' AS reading_type,
          ingest_timestamp
        FROM `{{ inputs.project_id }}.{{ inputs.dataset_id }}.raw_wind_speed`
      )

      SELECT * FROM temperature_data
      UNION ALL
      SELECT * FROM humidity_data
      UNION ALL
      SELECT * FROM rainfall_data
      UNION ALL
      SELECT * FROM wind_speed_data;
    store: false

triggers:
  - id: schedule_daily
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 1 * * *"
    disabled: true
    description: "Optional: Schedule for daily incremental loads"